@import "variables";

.card {
  width: $card-width;
  padding: 13px 14px 15px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #f3f3f3;
  font-size: 11px;
  transition: box-shadow 0.5s;
  &__photo {
    box-sizing: content-box;
    width: 160px;
    height: 134px;
    margin: 0 2px 39px;
    padding-top: 14px;
    transition: transform 1s;
    border: 3px solid transparent;
    border-radius: 5px;
    
    &:hover {
      transform: scale(1.2);
      border-color: #f3f3f3;
    }
  }
  &__title {
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    margin-bottom: 5px;
  }
  &__code {
    margin-bottom: 15px;
  }
  &__score {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  &__cost {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 20px;
  }
  &__price-title {
    line-height: 13px;
  }
  &__review-link {
    color: #000;
    white-space: nowrap;
    line-height: 13px;
  }
  &__price-complete {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    white-space: nowrap;
  }
  &__link {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    background-color: $general;
    border-radius: 5px;
    border: 1px solid $general;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 1s, color 1s;
    &:hover {
      color: $general;
      background-color: #fff;
    }
  }
  &:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
  }
}
